<%= form_for (@book) do |f| %>
TextBox:
<%=f.text_filed :isbn, size: 20, maxlength: 25, readonly: true%> <br />
    <input size="20" maxlength="25" readonly="readonly" type="text" name="book[isbn]" id="book_isbn" />
PwBox:
<%=f.password_filed :isbn, size: 10, maxlength: 15, readonly: true%> <br />
    <input size="10" maxlength="15" disabled="disabled" type="password" name="book[isbn]" id="book_isbn" />
TextArea: <br />
<%=f.text_area :isbn, cols: 40, rows: 10%> <br />
  <textarea cols="40" rows"10" name="book[isbn]" id="book_isbn" />
RadioButton:
<label><%= f.radio_button :publish, 'company_a', class: :rd%>company_a</label >
<label><%= f.radio_button :publish, 'company_b', class: :rd%>company_b</label >
<label><%= f.radio_button :publish, 'company_c', class: :rd%>company_c</label >
    <label><input class="rd" type="radio" value="company_a" name="book[publish]" id="book_publish_"/>company_a</label>
    <label><input class="rd" type="radio" value="company_b" name="book[publish]" id="book_publish_"/>company_b</label>
    <label><input class="rd" type="radio" value="company_c" name="book[publish]" id="book_publish_"/>company_c</label>
CheckBox:
<label><%= f.check_box :dl, { class: 'chk'}, 'yes', 'no' %>Download o.k? </label> <br />
    <label><input name="book[dl]" type="hidden" value="no" /><input class="chk" type="checkbox" value="yes" name="book[dl]" id="book_dl" />Download o.k?</label>
FileInputBox:
<%= f.file_field :isbn, size: 10 maxlength: 15 %> <br />
    <input size="10" maxlength="15" type="file" name="book[isbn]" id="book_isbn" />
HiddenField:
<%= f.hidden_field :isbn %><br />
    <input type="hidden" name="book[isbn]" id="book_isbn" />
    <% end %>